@use "../variables" as *;

.logement {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        color: $primary;
    }

    &__location {
        font-size: 18px;
        font-weight: 500;
    }

    &__tags {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    &__host-rating {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
    }

    &__host {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__host-name {
        font-size: 18px;
        font-weight: 500;
        color: $primary;
        text-align: right;
        max-width: 100px;
    }

    &__host-picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    @media screen and (max-width: 768px) {
        gap: 20px;

        &__info {
            flex-direction: column;
            gap: 15px;
        }

        &__title {
            font-size: 18px;
        }

        &__location {
            font-size: 14px;
        }

        &__host-rating {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        &__host-name {
            font-size: 12px;
        }

        &__host-picture {
            width: 32px;
            height: 32px;
        }

        &__details {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
}
